* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 4em;
}


h1 {
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    color: rgba(229,49,112,255);
}

h1, p {
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

.box {
    height: 5em;
    width: calc(100%/3 - 2em);
    margin: 1em;
    color: white;
    float: left;
    background-color: black;
    border: none;
    box-shadow: 0 0 3px 1px rgb(0, 0, 0);

}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.img {
    height: 5em;
    float: left;
    clear: both;
    margin-right: 1em;
} 

h2 {
    font-size: 1em;
    padding: 5px;
}

h3 {
    font-size: 0.8em;
    padding: 5px;

}

a {
    text-decoration: none;
    color: rgba(23,204,241,255);
    
}

